src/main/mule/trains-users-okta-api-implementation.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="429f255a-9f7e-4d64-bf08-63a1d9f194d0" basePath="/api/v1">
		<http:request-connection protocol="HTTPS" host="dev-544411.okta.com" />
	</http:request-config>
	<json-logger:config name="JSON_Logger_Config" doc:name="JSON Logger Config" doc:id="ab0cf5c4-1045-4ef7-9e5e-80ab3350c72d" applicationName="mytrains-users-okta-sapi" environment="dev" applicationVersion="1.0.0-SNAPSHOT"/>
	<flow name="trains-users-okta-api-createUser" doc:id="5bd770a3-8e14-4b5e-ae53-826e61e81ddd" >
		<ee:transform doc:name="Transform Message" doc:id="d7fb69c5-48cc-44e8-8372-051701fe4706" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	profile: {
		firstName: payload.firstName,
		lastName: payload.lastName,
		email: payload.email,
		login: payload.email
	},
	credentials: {
		password: {
			value: payload.password
		}
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="63206e0e-a8f6-4526-80df-b7672b6ec33a" config-ref="JSON_Logger_Config" message="#['JSON Logger']"/>
		<http:request method="POST" doc:name="Request" doc:id="e574c3a5-5d5d-40fb-99e9-e6b6c52538c4" config-ref="HTTP_Request_configuration" path="/users?activate=true" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00GpM49ppgDzqQrgYM6_N7KBKb16sv9jayNmGas_vg"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="9202f80e-d6b3-4063-b4ce-413e4190fb8e" config-ref="JSON_Logger_Config" message="#['JSON logger']" tracePoint="AFTER_REQUEST"/>
	</flow>
	<flow name="trains-users-okta-api-getAllUsers" doc:id="0a86934c-0e95-40be-9b35-4491cbe463fe" >
		<http:request method="GET" doc:name="Request" doc:id="ce24ed1e-b1f5-4585-8d33-34c58ad3095a" config-ref="HTTP_Request_configuration" path="/users" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="b6619e4c-c5ab-4aa4-82c3-92ad44853cf2" config-ref="JSON_Logger_Config" message="#['JSON Logger']" tracePoint="AFTER_REQUEST"/>
	</flow>
	<flow name="trains-users-okta-api-activateUser" doc:id="8153e05b-4797-45dc-be5e-b33660b28cbf" >
		<http:request method="POST" doc:name="Request" doc:id="61703922-6ff2-40b9-b122-760c36cc249e" config-ref="HTTP_Request_configuration" path="/users/{userId}/lifecycle/activate" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userId" : message.attributes.uriParams.userId
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	"sendEmail" : "false"
}]]]></http:query-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="8f433095-8a1e-4642-a5ba-a5a3c4aae93f" config-ref="JSON_Logger_Config" message="#['JSON Logger']" />
	</flow>
	<flow name="trains-users-okta-api-getUser" doc:id="96caebcf-75a7-4920-963a-20a87767a371" >
		<http:request method="GET" doc:name="Request" doc:id="5226f07e-baa3-43d6-8fd5-555ed45183a1" config-ref="HTTP_Request_configuration" path="/users/{userId}" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userId" : message.attributes.uriParams.userId
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="d124a799-6ea8-4ac0-a3f2-7a9b1c5d3926" config-ref="JSON_Logger_Config" message="#['JSON Logger']" />
	</flow>
	<flow name="trains-users-okta-api-deactivateUser" doc:id="2de0bc41-9cca-42d4-b511-72c36d537637" >
		<http:request method="POST" doc:name="Request" doc:id="28c0499d-425c-415c-b931-7bec816260d8" config-ref="HTTP_Request_configuration" path="/users/{userId}/lifecycle/deactivate" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userId" : message.attributes.uriParams.userId
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="8a159eee-5ebf-4af1-b1ff-9c09199da1cd" config-ref="JSON_Logger_Config" message="#['JSON Logger']" />
	</flow>
	<flow name="trains-users-okta-api-changePassword" doc:id="37b7ef41-6079-4578-bf49-c1ff3a66304c" >
		<ee:transform doc:name="Transform Message" doc:id="af366aec-793a-4651-ba3f-0881408c3d61" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	oldPassword: {
		value: payload.oldPassword
	},
	newPassword: {
		value: payload.newPassword
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="f40bccf1-595b-46ab-b8e0-ab147c53ce9c" config-ref="HTTP_Request_configuration" path="/users/{userId}/credentials/change_password" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	"userId" : message.attributes.uriParams.userId
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="0ca06f30-39a7-44dc-be00-a64b4b81bfa1" config-ref="JSON_Logger_Config" message="#['JSON Logger']" />
	</flow>
	<flow name="trains-users-okta-api-authenticateUser" doc:id="00e85d24-275b-4a5c-bc2b-ea41942d3997" >
		<ee:transform doc:name="Transform Message" doc:id="29c77a98-5e6a-4e94-8742-2d29d4c54a74" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	username: payload.login,
	password: payload.password,
	options:
		{
		 multiOptionalFactorEnroll: true,
   		 warnBeforePasswordExpired: true
		}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<http:request method="POST" doc:name="Request" doc:id="ea7c0d73-48b5-433d-9b83-36a8ca642085" config-ref="HTTP_Request_configuration" path="/authn" responseTimeout="50000">
			<http:headers ><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="139bad93-9897-4194-9c9e-77da17a0bdff" config-ref="JSON_Logger_Config" message="#['JSON Logger']" />
	</flow>
	<flow name="trains-users-okta-api-forgot-password" doc:id="94225c54-046c-4ca0-ab87-047fa1051c9c" >
		<http:request method="POST" doc:name="Request" doc:id="25054823-09fa-4f8e-a765-badb3b91cb46" config-ref="HTTP_Request_configuration" path="/users/{userId}/credentials/forgot_password?sendEmail=false" responseTimeout="50000">
			<http:headers><![CDATA[#[output application/java
---
{
	"Authorization" : "SSWS 00a4GfGWlODf_340bPeho9ZCBw8rPBJhn_CaRSpful"
}]]]></http:headers>
			<http:uri-params><![CDATA[#[output application/java
---
{
	"userId" : message.attributes.uriParams.userId
}]]]></http:uri-params>
		</http:request>
		<json-logger:logger doc:name="Logger" doc:id="bdaf09ac-73cb-46a6-b211-5b08d4cba916" config-ref="JSON_Logger_Config" message="#['JSON Logger']" />
	</flow>
</mule>
